
.container {
    background-color: blueviolet;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}

.statistic {
    margin: 2.5rem;
    padding: 2.875rem
}


.header {
    background: URL("EWT\ image.webp") no-repeat center;
    height: 70vh;
    width: 100vw;
    background-size: cover;
    
}
h1 {
    margin: auto;
    text-align: center;
    width: 50%;
    font-size: 4.375rem;
    font-style:oblique;
    color: white;
}
.core-values {
    text-align: center;
    font-style:oblique;
    font-size: 1.6rem;
    margin: auto;
    border: 1.875rem solid black; /* Adjust the width and color as needed */
    padding: 100px;

    @media only screen and (min-width: 481px) {
      font-size: 1.875rem;
  }
}
.container2 {
    margin: 0 auto;
    padding: 1.25rem;
    width: 100%;


}

.statistics {
    
    height: 30vh;
    padding: 1.25rem;
    /* background-color: #f0f0f0; */
    border-radius: 0.625rem;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.25rem;
}

.stat-box {
    background-color: #f2f2f2;
    box-shadow: 0 0 9px purple;
    padding: 1.25rem;
    border-radius: 1.25rem;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;

}

.stat-box h3 {
    margin-bottom: 1.875rem;
}

.CV {
    text-align: center;
    font-style: oblique;
    font-size: 1.25rem;
}

.video-container {
  width: 100%;
  display: none;
  justify-content: center;
  box-shadow: 0 0 9px purple;
  background-color: blueviolet;
  padding-bottom: 0;

  @media only screen and (min-width: 481px) {
    display: flex;
}
}
