body {
    background: linear-gradient(to right, pink, rgb(192, 167, 198));
}


.body-content{
   display: flex;
     align-items: center; 
    justify-content: center; 
    /* height: 100vh; */
    color: rgb(146, 68, 176);
     
} 

.join{

    background:url(purple.png);
    background-size: cover;
    position: relative;
    width: auto;
    height: 18.75rem;
    bottom: 7.5rem;
    text-align: center;
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;
}

.join h2{
    position: relative;
    font-style: oblique ;
    top: 5rem;
}

.join p{
    position: relative;
    top: 5.625rem;

}



#team-button{
    border-radius: .313rem;
    position: relative;
    border: 0;
    cursor: pointer;
    font-style: oblique;
    background-color: rgb(41, 6, 44);
    color: rgb(255, 255, 255);
    height: 1.875rem;
    width: 4.375rem;
    font-weight: bold;
    top: 6.875rem;
}


.team-header{
    color: rgb(146, 68, 176);
    font-size: 3.125rem;
   top: 0.938rem;
    text-align: center;
    font-style: oblique ;
}

.team-content{
    position: relative;
    display: flex;
    height: 50rem;
    margin: 0;
}


.bio-images img {
    display: block;
    width: 100% ;
    border: 2rem solid #e3b8f0;
    border-radius: .625rem ;
}

/* used to stagger photos */
.team-content > .bio-images:nth-child(odd){
    margin-top: .938rem;
} 

.team-content > .bio-images:nth-child(even){
    margin-top: 18.75rem;
} 

.bio-images {
    text-align: center; 
}

hr{
    border-top: .25rem solid rgb(178, 50, 137);
    border-radius: .3125rem;
    margin-left: 18.75rem;
    margin-right: 18.75rem;
    
  }

.partner-heading{
   bottom: 7.5rem;
   text-align: center;
   color:rgb(146, 68, 176); 
   
}




  .Partners{
    position: relative;
    display: flex;
    height: 18.75rem;
    color:rgb(146, 68, 176); 
    justify-content: center;
   
    
  }

  .Partners img{
   display: block;
   margin: 0 auto;
    width: 5rem;
    height: 5rem;
    padding: top 3.125rem ; 
  
  }

  .bio-images img {
    transition: transform 0.3s, box-shadow 0.3s;
}

.bio-images img:hover {
    box-shadow: 0 0 .625rem 0 rgba(0, 0, 0, 0.5);
}

.tech-info{
  
    text-align: center;
}

.partner-column{
    width: 30%;
    height: fit-content;
    
}

.footer{
    margin-top: 10vh;
}


@media (max-width: 1024px) {
    .team-content {
        flex-direction: column;
        display: flex;
       height: fit-content;
    } 
    .team-content > .bio-images:nth-child(even) {
         margin-top: 0; 
    }

    .bio-images{
        margin: 20px;
    }

    .join{
        margin-top: 100px;
    }
}